attrs
certifi
chardet
click
coverage>=7.6.8
coveralls>=4.0.1
docopt
hypothesis
idna
importlib-metadata
iniconfig
packaging
pluggy
py
pydocstyle
pyparsing
pytest
pytest-cov
requests
snowballstemmer
sortedcontainers
toml
typing-extensions
urllib3
zipp
setuptools==7.